@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --fundo-principal: #0d0d0d;
    --fundo-secundario: #1f1f1f;
    --texto-principal: #b0b0b0;
    --texto-secundario: #708090;
    --acento-1-neon: #ff2e9a;
    --acento-2-neon: #00f0ff;
    --detalhes-hover: #7a00ff;
    --erros-alertas: #FF4C4C;
    --pure-light: white;
    --pc-fonte-color: #00FF00;
    --botao: #526272;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 10px;
    padding: 10px;
    background-color: var(--fundo-principal);
    color: var(--pc-fonte-color);
    font-family: "VT323", monospace;
    height: 100dvh;
    border: 2px solid var(--fundo-secundario);
}

.pc {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cam {
    color: transparent;
}

.screen {
    width: 68.75rem;
    height: 45rem;
    background-color: #001100;
    border: 35px solid var(--texto-secundario);
    border-bottom: 55px solid var(--texto-secundario);
    border-radius: 12px;
    position: relative;
}

.screenLight {
    width: 68.75rem;
    height: 45rem;
    background-color: transparent;
    border: 0px solid var(--pc-fonte-color);
    box-shadow: 0 0 20px var(--pc-fonte-color),
                0 0 60px var(--pc-fonte-color);
    position: absolute;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 10px;
    color: var(--pure-light);
    text-shadow: 0 0 1.5px var(--pc-fonte-color);
}

.texto {
    margin: 20px 20px;
}

.rodape {
    margin-top: 10px;
    margin-left: 60px;
}

.botao {
    color: var(--botao);
    background-color: var(--texto-secundario);
    border: 10px solid var(--texto-secundario);
    box-shadow: 0px 0px 3px var(--fundo-principal);
    border-radius: 40%;
    position: absolute;
    z-index: 1;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

.sinal {
    position: absolute;
    margin: 400px 0 0 995px;
    width: 18px;
    height: 18px;
}

.audio {
    position: absolute;
    margin: 399px 0 0 1020px;
    width: 20px;
    height: 20px;
}

    .bateria {
    margin: -998px 0 0 205px;
    color: transparent;
    width: 13px;
    position: absolute;
    }

    .bluethoot {
    margin: -998px 0 0 160px;
    color: transparent;
    width: 11px;
    position: absolute;
    }

    .cameraOff {
    margin: -998px 0 0 145px;
    color: transparent;
    width: 11px;
    position: absolute;
    }

.display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85px;
    width: 345px;
    text-align: center;
}

.display #time {
    line-height: 85px;
    color: var(--pc-fonte-color);
    font-size: 15px;
    margin: 340px 0 0 675px;
}

.stand {
    width: 100px;
    height: 40px;
    background: var(--fundo-secundario);
    margin-top: 5px;
    border-radius: 10px;
}

.base {
    border-top: 1px solid var(--pc-fonte-color);
    width: 250px;
    height: 20px;
    background: var(--fundo-secundario);
    margin-top: 5px;
    border-radius: 10px;
}

/*tablet*/

@media (max-width: 1224px) {
    .base {
        width: 0;
    }

    .stand {
        width: 0px;
    }

    .screen, .screenLight {
        width: 30rem;
        
    }

    .pc {
        margin-top: 30px;
    }

    .screen {
        border: 35px solid var(--fundo-secundario);
        border-bottom: 55px solid var(--fundo-secundario);
        border-radius: 12px;
    }

    .screenLight {
        border: 0;
        box-shadow: none;
    }

    .botao {
    color: var(--fundo-principal);
    background-color: var(--fundo-secundario);
    border: 10px solid var(--fundo-secundario);
    box-shadow: 0px 0px 4px var(--fundo-principal);
    border-radius: 40%;
    position: absolute;
    }

    .sinal {

    margin: -450px 0 0 18px;
    }

    .audio {
    position: absolute;
    margin: -450px 0 0 45px;
    }

        .bateria {
    margin: -998px 0 0 205px;
    color: transparent;
    width: 13px;
    position: absolute;
    }

    .bluethoot {
    margin: -998px 0 0 160px;
    color: transparent;
    width: 11px;
    position: absolute;
    }

    .cameraOff {
    margin: -998px 0 0 145px;
    color: transparent;
    width: 11px;
    position: absolute;
    }

    h2 {
    margin-top: 60px;
    margin-bottom: 10px;
    color: var(--pure-light);
    text-shadow: 0 0 1.5px var(--pc-fonte-color);
    }

    .texto {
    margin: 20px 20px;
    }

    .rodape {
    margin-top: 10px;
    margin-left: 60px;
    }

    .display {
    position: absolute;
    top: -45%;
    left: -80%;
    transform: translate(-50%, -50%);
    height: 85px;
    width: 345px;
    text-align: center;
    }

    .display #time {
    line-height: 85px;
    color: var(--pc-fonte-color);
    font-size: 15px;
    margin: 339px 0 0 780px;
    }

    .cam {
        color: transparent;
        
        background: #1e3a5f;
        border: 5px solid var(--fundo-principal);
        border-right: 0.05px solid var(--pure-light);
        border-radius: 50%;
        height:5px;
        width: 7px;
        margin: 10px;
        position: absolute;
        z-index: 3;
        
    }
}

/*celular*/

@media (max-width: 588px) {
    .base {
        display: none;
    }

    .stand {
        display: none;
    }

    .screen, .screenLight {
        width: 15rem;
        height: 25rem;
        
    }

    .pc {
        margin-top: 30px;
    }

    .screen {
        border: 10px solid var(--fundo-secundario);
        border-bottom: 55px solid var(--fundo-secundario);
        border-radius: 12px;
        overflow-y: auto;
    }

    .screenLight {
        border: 0;
        box-shadow: none;
        position: relative;
        scrollbar-width: none;
    }


    .botao {
    color: var(--fundo-principal);
    background-color: var(--fundo-secundario);
    border: 10px solid var(--fundo-secundario);
    box-shadow: 0px 0px 4px var(--fundo-principal);
    border-radius: 40%;
    position: absolute;
    margin-bottom: -4.5rem;
    }

    .sinal {
        margin: -905px 0 0 200px;
        width: 13px;
        position: absolute;
        color: var(--pure-light);
    }

    .audio {
        margin: -905px 0 0 185px;
        width: 15px;
        position: absolute;
            color: var(--pure-light);
    }

    .bateria {
    margin: -905px 0 0 215px;
    width: 13px;
    position: absolute;
    color: var(--pure-light);
    }

    .bluethoot {
    margin: -903px 0 0 170px;
    width: 11px;
    position: absolute;
    color: var(--pure-light);
    }

    .cameraOff {
    margin: -903px 0 0 155px;
    width: 11px;
    position: absolute;
    color: var(--pure-light);
    }

    h2 {
    margin-top: 60px;
    margin-bottom: 10px;
    color: var(--pure-light);
    text-shadow: 0 0 1.5px var(--pc-fonte-color);
    }

    .texto {
    margin: 20px 20px;
    }

    .rodape {
    margin-top: 10px;
    margin-left: 60px;
    }

    .display {
    position: absolute;
    top: -35%;
    left: -70%;
    transform: translate(-50%, -50%);
    height: 85px;
    width: 345px;
    text-align: center;
    }

    .display #time {
    line-height: 85px;
    color: var(--pc-fonte-color);
    font-size: 15px;
    margin: 95px 0 0 350px;
    color: var(--pure-light);
    }

    .cam {
        color: transparent;
        background: #1e3a5f;
        border: 5px solid var(--fundo-principal);
        border-right: 0.05px solid var(--pure-light);
        border-radius: 50%;
        height:5px;
        width: 7px;
        margin: 15px;
        position: absolute;
        z-index: 3;
        
    }
}