@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --fundo-principal: #0d0d0d;
    --fundo-secundario: #1f1f1f;
    --texto-principal: #b0b0b0;
    --texto-secundario: #708090;
    --acento-1-neon: #ff2e9a;
    --acento-2-neon: #00f0ff;
    --detalhes-hover: #7a00ff;
    --erros-alertas: #FF4C4C;
    --pure-light: white;

  --fundo-escuro-1: #0D0D0D;
  --fundo-escuro-2: #121212;
  --fundo-secundario-1: #1A1A1A;
  --fundo-secundario-2: #222222;

  --texto-principal-1: #EAEAEA;
  --texto-principal-2: #DCDCDC;

  --destaque-1-1: #FF2C55;
  --destaque-1-2: #FF4466;
  --destaque-2-1: #00FFC6;
  --destaque-2-2: #00E6B8;
  --destaque-3-1: #FFD500;
  --destaque-3-2: #FFCF33;

  --sombras-bordas-1: #3D3D3D;
  --sombras-bordas-2: #505050;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    background-color: #0f0c1d;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    max-width: 800px;
    border: 1px solid var(--fundo-escuro-1);
    border-radius: 1%;
    box-shadow: 3px 3px 3px var(--fundo-escuro-1);
    padding: 40px;
    box-sizing: border-box;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: flex-start;
}

.cabecalho {
    margin: 20px 0 0 100px;
    padding: 3px;
    width: 110px;
    font-size: 10px;
    color: #f472b6;
    background-color: var(--fundo-escuro-2);
    box-shadow: 5px 5px 2px var(--fundo-escuro-1);
    text-decoration: none;
    opacity: 0.7;
    }

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
    position: relative;
    background-color: #0f0c1d;;
    color: #f472b6;
    font-size: 1.5rem;
    margin: 30px;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
}

.titulo::after {
    content: '';
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #c084fc;
    width: 400px;
    height: 1px;
    z-index: 2;
}

.imagem {
    width: 500px;
    border: 3px solid #8b5cf6;
    border-radius: 5px;
    animation: luz 2s ease infinite alternate-reverse;
}

@keyframes luz {
    0% {
        box-shadow: 0 0 5px #e879f9;
    } 100% {
        box-shadow: 0 0 10px #e879f9,
        0 0 20px #e879f9,
        0 0 10px #e879f9;
    }
}

p {
    display: block;
    justify-content: center;
    margin: 20px 100px;
    color: var(--texto-principal-2);
    font-size: 20px;
}

.menor {
    font-size: 14px;
}

.back {
    position: relative;
    display: inline-block;
    cursor: grabbing;
    border-radius: 5px;
}

@keyframes click {
    0% {
        border: 1px solid var(--destaque-2-2);
    }
    30% {
        border: 2px solid var(--destaque-2-1);
    }
    45% {
        border: 3px solid var(--destaque-2-1);
        box-shadow: 0 0 10px var(--destaque-2-1);
    }
    60% {
        border: 2px solid var(--destaque-2-2);
    }
    100% {
        border: 1px solid var(--destaque-2-1);
    }
}

.imagem2 {
    display: block;
    border-top: 3px solid #d946ef;
    border-right: 3px solid #d946ef;
    border-bottom: 3px solid #d946ef;
    border-left: 3px solid #d946ef;
    width: 500px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    animation: luz 2s ease alternate infinite;
}

.imagem2::after {
    content: '';

}

.return {
    position: absolute;
    top: 50%;
    left: 9.06rem;
    justify-content: center;
    transform: translate(-50%, -50%);
    color: var(--texto-principal-1);
    -webkit-text-stroke: 1px #0D0D0D;
    font-size: 50px;
    z-index: 10;
    pointer-events: none;
    user-select: none;
    animation: retorne 0.5s infinite alternate;
}

.caixa {
  background: var(--fundo-escuro-2);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

}

.ponto {
  border: 1px solid var(--destaque-3-2);
  flex-direction: row-reverse;
  justify-content: center;
}

.ponto input {
  display: none;
}

.ponto label {
  color: var(--fundo-principal);
  cursor: pointer;
  transition: 0.2s;
}

.ponto label:hover,
.ponto label:hover ~ label {
  color: var(--erros-alertas);
}

.ponto input:checked ~ label {
  color: var(--erros-alertas);
  filter: drop-shadow (4px 4px 2px var(--fundo-principal));
}

.icone {
    width: 30px;
}

strong {
    animation: mover 0.5s infinite alternate;

}

strong::after {
    animation: sombra 0.5s infinite alternate;
}

@keyframes sombra {
    0% {
        text-shadow: -2px -2px 3px black,
        2px 2px -3px black;
    } 10% {
        text-shadow: 2px 2px 3px black,
        -2px -2px 3px black;
    }    15% {
        text-shadow: 2px -2px 3px black,
        -2px 2px 3px black;
    } 20% {
        text-shadow: 2px -2px 3px black,
        -2px 2px 3px black;
    }     25% {
        text-shadow: -2px -2px 3px black,
        -2px -2px 3px black;
    } 30% {
        text-shadow: -2px -2px 3px black,
        2px -2px 3px black;
    }     35% {
        text-shadow: -2px -2px 3px black,
        2px -2px 3px black;
    } 50% {
        text-shadow: -2px -2px 4px black,
        2px 2px 4px black;
    } 65% {
        text-shadow: 2px 2px 4px black,
        -2px -2px 4px black;
    }
}

@keyframes mover {
    0% {
        text-shadow: 2px 2px 3px pink,
        -2px -2px 3px pink;
    } 10% {
        text-shadow: -2px -2px 3px pink,
        -2px -2px 3px pink;
    }    15% {
        text-shadow: -2px -2px 3px pink,
        2px 2px 3px pink;
    } 20% {
        text-shadow: 2px 2px 3px pink,
        2px 2px 3px pink;
    }     25% {
        text-shadow: 2px 2px 3px pink,
        -2px -2px 3px pink;
    } 30% {
        text-shadow: -2px -2px 3px pink,
        -2px -2px 3px pink;
    }     35% {
        text-shadow: -2px -2px 3px pink,
        2px 2px 3px pink;
    } 50% {
        text-shadow: 2px 2px 4px purple,
        -2px 2px 4px purple;
    } 65% {
        text-shadow: -2px -2px 4px purple,
        2px -2px 4px purple;
    }
}


/* Responsividade */
@media (max-width: 600px) {
    main {
        padding: 20px;
    }
    div {
        padding: 20px;
        margin: 5px;
        max-width: 100%;
    }
    .titulo {
        width: 90%;
        font-size: 1.2rem;
        margin: 20px 0;
    }
    .imagem, .imagem2 {
        width: 100%;
        max-width: 100%;
    }
    p {
        margin: 15px 20px;
        font-size: 16px;
    }
    .cabecalho {
        margin-left: 20px;
        font-size: 8px;
        width: 90px;
    }
    .return {
        font-size: 35px;
    }
}

